html, body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
}
#gameDiv {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#game {
    padding: 15px;
    height: 100%;
    width: 100%;
}

#game > canvas {

    display: block;
    margin: auto auto;
    border:1px solid #000000;
}